body {
    margin: 0px;
    /* overflow: hidden; */
    background-color: #111;
    font-family: sans-serif;
    font-size: 16px;
    color: #fff;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

a {
    color: #fff;
}

h2 {
    margin: 1em 0 .3em 0;
    font-size: 30px;
    font-weight: 100;
    /* text-transform: uppercase; */
}

h2::before {
    content: '//';
    background: linear-gradient(135deg, #2CD8D5, #8E37D7);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 10px;
}

#bg_placeholder {
    position: absolute;
}

#page {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background: url('bg-pattern-3.png') repeat;
}

#content {
    z-index: 10;
    position: relative;
    /* position: absolute; */
    top: 30%;
    /* left: 50%; */
    min-width: 600px;
    width: 60%;
    margin: 0 auto 80px auto;
    padding-bottom: 80px;
    /* margin-left: -50%; */
}

#logo {
    margin: 0 auto 50px auto;
    width: 360px;
    height: 87px;
    max-width: 90%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('nftfx-logo-720.png');
}

.subtitle {
    text-align: center;
    margin-bottom: 80px;
}

.subtitle img {
    max-width: 90%;
}

#apps {
    margin: 0;
    padding: 0;
}

#apps li {
    float: left;
    list-style-type: none;
}

#apps .card {
    width: 46%;
    margin: 12px 2%;
    border-radius: 6px;
    /* height: 120px; */
    transition: background-color .2s
}

#apps .card.link {
    width: 29.3%;
}

#apps .card.link a {
    height: 105px;
    padding: 12px 20px;
}

#apps .card h3 {
    font-size: 21px;
    margin: 0;
}

#apps .card p {
    margin: 6px 0;
    padding: 0;
}

#apps .card:hover {
    background-color: #8E37D7;
}

#apps .card a {
    display: block;
    width: 100%;
    height: 130px;
    text-align: left;
    background: rgba(20, 0, 40, .5);
    padding: 15px 20px;
    text-decoration: none;
    /* font-size: 21px; */
    /* font-weight: bold; */
    border-radius: 6px;
    margin-top: 0;
    transition: transform .2s, box-shadow .4s;
    color: #eee;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .25);
}

#apps .card:hover a {
    background: linear-gradient(135deg, #2CD8D5, #8E37D7);
    box-shadow:
        2px 2px 0 #8E37D7,
        4px 4px 0 #8E37D7,
        6px 6px 0 #8E37D7;
    transform: translate(-8px, -8px);
}

#apps li.row {
    /* float: none; */
    width: 100%;
}

#apps .card .app-logo,
#apps .card .app-logo-active {
    width: 100px;
    height: 100px;
    display: block;
    margin-top: -5px;
    margin-right: 20px;
    float: left;
}

#apps .card .app-logo-active {
    display: none;
}

#apps .card:hover .app-logo {
    display: none;
}

#apps .card:hover .app-logo-active {
    display: block;
}

.badge {
    font-size: 11px;
    font-weight: normal;
    text-transform: uppercase;
    border: 1px solid #fff;
    color: #fff;
    opacity: .67;
    display: inline-block;
    padding: 2px 5px;
    border-radius: 4px;
    margin: 5px 0;
}

@media (max-width: 768px) {

    #content {
        width: 90%;
        min-width: auto;
    }

    #apps .row,
    #apps .card {
        width: 100% !important;
        float: none;
        margin: 12px 0;
    }

    #apps .card a {
        padding: 15px;
        height: auto !important;
    }

    #apps .card img {
        margin-right: 10px !important;
        margin-left: -10px !important;
    } 

}